:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --font-family: 'Josefin Sans', sans-serif;


}

body {
    font-family: var(--font-family);
    height: auto;
    
}

.container {
    display: flex;
}


.left-side {
    margin: 3rem 10rem 8rem 8rem;
}

.title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 60px;
}

.weare {
    color: var(--desaturated-red);
    font-weight: 300;

}

.text {
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 1.5rem;
    color: var(--desaturated-red);
}

#email {
    width: 24rem;
    height: 2.5rem;
    border-radius: 30px;
    border-color: var(--desaturated-red);
    border-style: solid;
    border-width: 1px;

}

#email::placeholder {
    color: var(--desaturated-red);
    padding-left: 20px;

}

.icon-arrow {
    width: 2rem;
    background-color: red;
    cursor: pointer;
    margin-left: 1rem;
}

.inputandicon {
    display: flex;
}

#error-message {
    display: none;
}